@using AstrologyBlog.Common
@model AstrologyBlog.Web.ViewModels.Orders.IndexOrderViewModel
@{
    this.ViewData["Title"] = "Поръчки за хороскоп";
}

<div id="content" class="blog_page blog_margin">
    <!-- Our Services -->
    <div id="blogs" class="blog_section">
        <div class="container-fluid">
            <div class="row">
                @foreach (var order in Model.Orders)
                {
                    <div class="col-sm-3">
                        <div class="blog_inner_matter">
                            <h3 class="wow fadeInDown animated">Създадена на <span>–</span> <time datetime="@order.CreatedOn.ToString("O")"></time></h3>
                            <p class="wow fadeInDown animated"><a>Име: @order.Name @order.Surname</a></p>
                            <p class="wow fadeInDown animated">Роден на: @order.BirthDay.ToString()</p>
                            <p class="wow fadeInDown animated">В град: @order.BirthTown</p>
                            <p class="wow fadeInDown animated">Имейл: @order.Email</p>
                            <p class="wow fadeInDown animated">Телефон: @order.Phone</p>
                            <p class="wow fadeInDown animated">Категория: @order.CategoryName</p>
                            <p class="wow fadeInDown animated">Въпрос: @order.Question</p>
                            <a asp-action="Details" asp-route-id="@order.Id" class="btn wow fadeInDown animated">Детайли на поръчката</a>
                            <hr />
                        </div>
                    </div>
                    <div class="clear"></div>
                }
            </div>
        </div>
    </div>
</div>

