@model PagingViewModel
<div class="pagination-section text-center wow fadeInDown animated">
    @if (Model.PreviousPageNumber > 0)
    {
        <a class="prev page-numbers" asp-action="All" asp-route-id="@Model.PreviousPageNumber">
            <i class="fa fa-angle-left" asp-action="All" asp-route-id="@Model.PreviousPageNumber"></i>
        </a>
    }
    @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
    {
        if (i > 0)
        {
            <a class="page-numbers" asp-action="All" asp-route-id="@i">@i</a>
        }
    }
    <span class="page-numbers current" aria-current="page">@Model.PageNumber</span>
    @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
    {
        if (i <= Model.PagesCount)
        {
            <a class="page-numbers" asp-action="All" asp-route-id="@i">@i</a>
        }
    }
    @if (Model.NextPageNumber <= Model.PagesCount)
    {
        <a class="next page-numbers" asp-action="All" asp-route-id="@Model.NextPageNumber">
            <i class="fa fa-angle-right" asp-action="All" asp-route-id="@Model.NextPageNumber"></i>
        </a>
    }
</div>
<hr/>
