@using AstrologyBlog.Common
@model AstrologyBlog.Web.ViewModels.Articles.IndexArticleViewModel
@{
    this.ViewData["Title"] = "Статии - Всичко за астрологията";
}
<hr />
<section class="main_breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="breadcrumb-content">
                <h2>@this.ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</section>
<hr />
<div id="content" class="blog_page blog_margin">
    <!-- Our Services -->
    <div id="blogs" class="blog_section">
        <div class="container-fluid">
            <div class="row">
                @foreach (var article in Model.Articles)
                {
                    <div class="col-sm-3">
                        <div class="blog_inner_matter">
                            <div class="image">
                                <a>
                                    <img src="@article.ImageUrl" class="wow fadeInDown animated" alt="...">
                                </a>
                                <div class="blog_date  wow fadeInDown animated">
                                    @article.CreatedOn.ToShortDateString()
                                </div>
                            </div>
                            <div class="admin_and_comments wow fadeInDown animated">
                                <span class="blog_admin">
                                    <span><i class="fa fa-user"></i> Създадена от</span>
                                    <span>
                                        <a>@article.CreatedByUserUserName</a>
                                    </span>
                                </span>
                                <span class="comments_date">
                                    <span>
                                        <i class="fa fa-comments"></i> @article.Comments.Count() коментара
                                    </span>
                                </span>
                                <span class="votes_date">
                                    <span>
                                        <i class="fa fa-heart"></i> @article.VotesCount харесвания
                                    </span>
                                </span>
                            </div>
                            <h3 class="wow fadeInDown animated"><a>@article.Name</a></h3>
                            <p class="wow fadeInDown animated">@Html.Raw(article.ShortDescription)</p>
                            <a asp-action="ById" asp-route-id="@article.Id" class="btn wow fadeInDown animated">Прочети цялата статия</a>
                            <hr />
                        </div>
                    </div>
                    <div class="clear"></div>
                }
            </div>
        </div>
    </div>
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />
<hr />
