@using AstrologyBlog.Common
@model AstrologyBlog.Web.ViewModels.Articles.IndexArticleViewModel
@{
    this.ViewData["Title"] = "Статии - Всичко за астрологията";
}
<h1 class="display-3">@this.ViewData["Title"]</h1>
<hr />
<div class="row row-cols-1 row-cols-md-2">
    @foreach (var article in Model.Articles)
    {
        <div class="col mb-4">
            <div class="card">
                <img src="@article.ImageUrl" class="card-img-top img-responsive" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@article.Name</h5>
                    <p class="card-text">@article.ShortDescription</p>
                    <a href="#" class="btn btn-primary">Прочети цялата статия</a>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> } ">
            <a class="page-link" asp-action="All" asp-route-id="1">&laquo;&laquo;</a>
        </li>
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> } ">
            <a class="page-link" asp-action="All" asp-route-id="@Model.PreviousPageNumber">&laquo;</a>
        </li>
        @if (Model.PreviousPageNumber > 0)
        {
            <li class="page-item">
                <a class="page-link" asp-action="All" asp-route-id="@Model.PreviousPageNumber">@Model.PreviousPageNumber</a>
            </li>
        }
        <li class="page-item">
            <a class="page-link" asp-action="All" asp-route-id="@Model.PageNumber">@Model.PageNumber</a>
        </li>
        @if (Model.NextPageNumber < Model.PagesCount)
        {
            <li class="page-item">
                <a class="page-link" asp-action="All" asp-route-id="@Model.NextPageNumber">@Model.NextPageNumber</a>
            </li>
        }
        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> } ">
            <a class="page-link" asp-action="All" asp-route-id="@Model.NextPageNumber">&raquo;</a>
        </li>
        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> } ">
            <a class="page-link" asp-action="All" asp-route-id="@Model.PagesCount">&raquo;&raquo;</a>
        </li>
    </ul>
</nav>
