@model AstrologyBlog.Web.ViewModels.Articles.SingleArticleViewModel
@{
    this.ViewData["Title"] = Model.Name;
    @functions {
        void DisplayComments(int? parentId)
        {
            var commentsWithParent = this.Model.Comments.Where(x => x.ParentId == parentId);

            if (!commentsWithParent.Any())
            {
                return;
            }

            @foreach (var comment in commentsWithParent)
            {
                <ol class="commentlist">
                    <li class="comment">
                        <div>
                            <div class="comment-text">
                                <p class="meta">
                                    <strong>@comment.UserUserName</strong>
                                    <span>–</span> <time datetime="@comment.CreatedOn.ToString("O")"></time>
                                </p>
                                <div class="content">
                                    <p>@comment.Content</p>
                                </div>
                                <div style="width:96%" class="button-set">
                                    <button type="submit" class="btn submit" onclick="showAddCommentForm(@comment.Id)">Отговори</button>
                                </div>
                            </div>
                            @{ DisplayComments(comment.Id); }
                        </div>
                    </li>
                </ol>
            }
        }
    }
}

<div id="content" class="blog_page blog_details">
    <!-- Our Services -->
    <div id="blogs" class="blog_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9">
                    <div class="eb_left">
                        <div class="col-sm-12">
                            <div class="blog_inner_matter">
                                <div class="image">
                                    <a href=""><img src="@Model.ImageUrl" class="wow fadeInDown animated"></a>
                                </div>
                                <div class="admin_and_comments wow fadeInDown animated">
                                    <span class="blog_admin"><span><i class="fa fa-user"></i> Създадена от </span> <span><a>@Model.CreatedByUserUserName</a></span></span>
                                    <form id="votesForm" method="post"></form>
                                    <span>
                                        <a href="#" onclick="sendVote(@Model.Id, true)">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                        <a href="#" onclick="sendVote(@Model.Id, false)">
                                            <i class="fa fa-heart-broken"></i>
                                        </a>
                                        <a id="votesCount">@Model.VotesCount</a>
                                        <a> харесвания</a>
                                    </span>
                                    <span class="comments_date blog_admin"><span><i class="fa fa-comments"></i> @Model.Comments.Count коментара</span></span>
                                    <span class="comments_date blog_dates"><span><i class="fa fa-calendar-alt"></i><time datetime="@Model.CreatedOn.ToString("O")"></time></span></span>
                                </div>
                                <h2 class="wow fadeInDown animated"><a href="">@this.ViewData["Title"]</a></h2>
                                <p class="wow fadeInDown animated">@Html.Raw(Model.SanitizedDescription)</p>
                            </div>
                            <div class="comment-content wow bounceInUp animated">
                                <div class="comments-wrapper">
                                    <div style="width:96%" class="button-set">
                                        <button type="submit" class="btn submit" onclick="showAddCommentForm(0)"><span><span>Коментирай</span></span></button>
                                    </div>
                                    <hr />
                                    @if (Model.Comments.Count > 0)
                                    {
                                        <h3>Коментари</h3>
                                    }
                                    @{ DisplayComments(null); }
                                </div>
                                <div class="comments-form-wrapper clearfix comment-respond">
                                    <form asp-controller="Comments" asp-action="Create" method="post" id="AddCommentForm" style="display: none">
                                        <input type="hidden" name="ArticleId" value="@Model.Id" />
                                        <input type="hidden" name="ParentId" value="0" />
                                        <div class="field aw-blog-comment-area">
                                            <textarea rows="5" cols="50" class="input-text" id="Content" name="Content"></textarea>
                                        </div>
                                        <div style="width:96%" class="button-set">
                                            <button type="submit" class="btn submit"><span><span>Добави коментар</span></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function showAddCommentForm(parentId) {
            $("#AddCommentForm input[name='ParentId']").val(parentId);
            $("#AddCommentForm").show();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddCommentForm").offset().top
            }, 1000);
        }

        function sendVote(articleId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { articleId: articleId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                }
            });
        }
    </script>
}
