@using AstrologyBlog.Common
@model AstrologyBlog.Web.ViewModels.Articles.SingleArticleViewModel
@{
    this.ViewData["Title"] = Model.Name;
    @functions {
        void DisplayComments(int? parentId)
        {
            var commentsWithParent = this.Model.Comments.Where(x => x.ParentId == parentId);

            if (!commentsWithParent.Any())
            {
                return;
            }

            @foreach (var comment in commentsWithParent)
            {
                <ol class="commentlist">
                    <li class="comment">
                        <div>
                            <div class="comment-text">
                                <p class="meta">
                                    <strong>@comment.UserUserName</strong>
                                    <span>–</span> <time datetime="@comment.CreatedOn.ToString("O")"></time>
                                </p>
                                <div class="content">
                                    <p>@comment.Content</p>
                                </div>
                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <div style="width:96%" class="button-set">
                                        <button type="submit" class="btn submit" onclick="showAddCommentForm(@comment.Id)">Отговори</button>
                                    </div>
                                }
                            </div>
                            @{ DisplayComments(comment.Id); }
                        </div>
                    </li>
                </ol>
            }
        }
    }
}

<div id="content" class="blog_page blog_details">
    <!-- Our Services -->
    <div id="blogs" class="blog_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9">
                    <div class="eb_left">
                        <div class="col-sm-12">
                            <div class="blog_inner_matter">

                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    <div class="single-meta">
                                        <a asp-controller="Articles" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактирай</a>
                                    </div>
                                    <hr />
                                    <div class="single-meta">
                                        <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id"></form>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Изтрий</button>
                                    </div>
                                }
                                <hr />
                                <div class="image">
                                    <a href=""><img src="@Model.ImageUrl" class="wow fadeInDown animated"></a>
                                </div>
                                <div class="admin_and_comments wow fadeInDown animated">
                                    <span class="blog_admin"><span><i class="fa fa-user"></i> Създадена от </span> <span><a>@Model.CreatedByUserUserName</a></span></span>
                                    <form id="votesForm" method="post"></form>
                                    <span class="comments_date blog_admin"><span><i class="fa fa-star"></i> @Model.AverageStarsVote звезди</span></span>
                                    <span class="comments_date blog_admin"><span><i class="fa fa-comments"></i> @Model.Comments.Count коментара</span></span>
                                    <span class="comments_date blog_dates"><span><i class="fa fa-calendar-alt"></i><time datetime="@Model.CreatedOn.ToString("O")"></time></span></span>
                                </div>
                                <h2 class="wow fadeInDown animated"><a href="">@this.ViewData["Title"]</a></h2>
                                <h3 class="wow fadeInDown animated">Категория: @Model.ArticlesCategoryName</h3>
                                <p class="wow fadeInDown animated">@Html.Raw(Model.SanitizedDescription)</p>
                            </div>
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <div class="comment-form-rating">
                                    <h3>Оцени със звезди</h3>
                                    <p class="stars">
                                        <a class="star-1" data-vote="1"><i class="fa fa-star"></i></a>
                                        <a class="star-2" data-vote="2"><i class="fa fa-star"></i></a>
                                        <a class="star-3" data-vote="3"><i class="fa fa-star"></i></a>
                                        <a class="star-4" data-vote="4"><i class="fa fa-star"></i></a>
                                        <a class="star-5" data-vote="5"><i class="fa fa-star"></i></a>
                                        <a><span id="averageStarsVoteValue">@Model.AverageStarsVote.ToString("0.0")</span><span> / 5</span> </a>
                                    </p>
                                </div>
                                <hr />
                            }
                            <div class="comment-content wow bounceInUp animated">
                                <div class="comments-wrapper">
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <div style="width:96%" class="button-set">
                                            <button type="submit" class="btn submit" onclick="showAddCommentForm(0)"><span><span>Коментирай</span></span></button>
                                        </div>
                                    }
                                    <hr />
                                    @if (Model.Comments.Count > 0)
                                    {
                                        <h3>Коментари</h3>
                                    }
                                    @{ DisplayComments(null); }
                                </div>
                                <div class="comments-form-wrapper clearfix comment-respond">
                                    <form asp-controller="Comments" asp-action="Create" method="post" id="AddCommentForm" style="display: none">
                                        <input type="hidden" name="ArticleId" value="@Model.Id" />
                                        <input type="hidden" name="ParentId" value="0" />
                                        <div class="field aw-blog-comment-area">
                                            <textarea rows="5" cols="50" class="input-text" id="Content" name="Content"></textarea>
                                        </div>
                                        @if (this.User.Identity.IsAuthenticated)
                                        {
                                            <div style="width:96%" class="button-set">
                                                <button type="submit" class="btn submit"><span><span>Добави коментар</span></span></button>
                                            </div>
                                        }
                                    </form>
                                </div>
                            </div>
                            @if (!this.User.Identity.IsAuthenticated)
                            {
                                <h3>Логни се за да оцениш и да коментираш</h3>
                                
                                <div class="btn btn-primary">
                                    <a asp-area="Identity" asp-page="/Account/Login">Влез</a>
                                </div>


                                <div class="btn btn-primary">
                                    <a asp-area="Identity" asp-page="/Account/Register">регистрирай се</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script>
        $("a[data-vote]").each(function (el) {
            $(this).click(function () {
                var starsCount = $(this).attr("data-vote");
                var articleId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { articleId: articleId, starsCount: Number(starsCount) };
                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageStarsVoteValue').html(data.averageStarsVote);
                    },
                    contentType: 'application/json',
                });
            })
        });
        function showAddCommentForm(parentId) {
            $("#AddCommentForm input[name='ParentId']").val(parentId);
            $("#AddCommentForm").show();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddCommentForm").offset().top
            }, 1000);
        };
    </script>
}

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Искаш ли да изтриеш статията?"@Model.Name"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Да</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Не</button>
            </div>
        </div>
    </div>
</div>
