@model AstrologyBlog.Web.ViewModels.Categories.CategoryViewModel
@{
    this.ViewData["Title"] = @Model.Title;
    this.ViewData["Name"] = @Model.Name;
}
<div id="content" class="blog_page blog_details">
    <div id="blogs" class="blog_section">
        <div class="container-fluid">
            <div class="blog_inner_matter">
                <h2 class="wow fadeInLeftBig animated"><a href="">Какво е @this.ViewData["Name"]?</a></h2>
                    <!-- left side -->
                    <div class="col-md-12">
                        <div class="blog_inner_matter">
                            <p class="wow fadeInUpBig animated">@Model.Description</p>
                        </div>
                    </div>
                    <!-- right side -->
                    <!-- middle -->
                    <div class="col-12">
                        <p class="wow fadeInDownBig animated">@Model.Content</p>
                    </div>

            </div>
        </div>
    </div>
</div>