@using AstrologyBlog.Common
@model AstrologyBlog.Web.ViewModels.Videos.SingleVideoViewModel
@{
    this.ViewData["Title"] = Model.Title;
}
<div id="content" class="blog_page blog_details">
    <!-- Our Services -->
    <div id="blogs" class="blog_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9">
                    <div class="eb_left">
                        <div class="col-sm-12">
                            <div class="blog_inner_matter">

                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    <div class="single-meta">
                                        <a asp-controller="Videos" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактирай</a>
                                    </div>
                                    <hr />
                                    <div class="single-meta">
                                        <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id"></form>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Изтрий</button>
                                    </div>
                                }
                                <hr />
                                <div class="col-sm-12">
                                    <div class="blog_inner_matter">
                                        <div class="youtube">
                                            <iframe width="960" height="600" src="@Model.VideoUrl" frameborder="0" class="wow fadeInDown animated"></iframe>
                                        </div>
                                        <div class="admin_and_comments wow fadeInDown animated">
                                        </div>
                                        <h2 class="wow fadeInDown animated"><a>@Model.Title</a></h2>
                                        <h3 class="wow fadeInDown animated"><a>@Model.Name</a></h3>
                                        <p class="wow fadeInDown animated">@Model.Description</p>
                                        <hr />
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Искаш ли да изтриеш статията?"@Model.Name"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Да</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Не</button>
            </div>
        </div>
    </div>
</div>

